body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  padding-top: 1px;
  padding-right: 96px;
  padding-left: 96px;

  height: 100%;
  background: linear-gradient(0deg, #4837cd51 0%, #F5F5FA 100%);
  justify-items: center;
  padding-bottom: 100px
}

.home-content {
  width: 986px;
  border-radius: 39.6px;
  border-width: 1px;
  background: #FFFFFF;
  border-top: 1px solid #221B2029;
  padding-bottom: 20px;
}

video {
  width: 639;
  height: 480;
  border-radius: 8px;
}

.lk-video-container {
  background-color: transparent !important;
}

.lk-device-menu {
  background-color: white !important;
  border: 1px solid black !important;
}

.lk-username-container {
  align-items: center !important;
}

.lk-join-button {
  width: 180px;
  height: 52px;
  font-size: 20px;
  border-radius: 8px !important;
  background-color: #4937CD !important;
  opacity: 1 !important;
  color: white !important;

  &:disabled {
    opacity: 0.5 !important;
  }
}

.lk-form-control {
  width: 345px;
  height: 44px;
  top: 584px;
  left: 321px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid #4937CD !important;
  color:#4937CD;
  font-size: 14px !important;
  padding-left: 5%
}

.lk-form-control::placeholder {
  color:#4937CD;
  font-size: 14px !important;
}

svg {
  color: #4937CD
}

.top-bar {
  padding-left: 5%;
  padding-right: 5%;
  background: #F5F5FA;
  height: 6vh;
  align-content: center;

  border-bottom: 1px solid #221B2029
}

.title {
  font-family: Dela Gothic One;
  font-weight: 400;
  font-size: 24px;
  color: #4937CD;
}

.copy-link {
  width: 252px;
  height: 52px;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  border-radius: 8px;
  border: none;
  background: #4937CD !important;
  font-family: DM Mono;
}

#start-game-button {
  width: 192;
  height: 52;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  border-radius: 8px;

  font-family: DM Mono;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  background: #4937CD;
  color: #FFFAFD;
  border: none;
  cursor: pointer;

  &:disabled {
    background: #B1B1B1;
    cursor: not-allowed;
  }
}

.sidebar {
  width: 20% !important;
  gap: 30px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 32px;
  padding-left: 20px;

  background: #4937CD33;
}

.number-card {
  width: 180px;
  height: 70px;
  gap: 16px;
  border-radius: 16px;
  padding: 24px;
  border-width: 1.5px;

  background: #4937CD;
  border-top: 1.5px solid #FFFFFF;

  margin-top: 16px;

  .title {
    width: 185;
    height: 24;
    font-family: Outfit;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #E4DAD7;
  }

  .detail {
    font-family: Outfit;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #E4DAD7;

    margin-top: 1vh;
  }
}

#medal-img {
  width: 24px;
  height: 24px;

  margin-right: 1rem;
}

.score-row {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 22px;
  background: #4937CD;
  margin-top: 1rem;
  color: #B1B1B1;

  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
}
